
@font-face {
  font-family: 'iconfont';  /* project id 96616 */
  src: url('http://at.alicdn.com/t/font_4trj9hf4v3n5ewmi.eot');
  src: url('http://at.alicdn.com/t/font_4trj9hf4v3n5ewmi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_4trj9hf4v3n5ewmi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_4trj9hf4v3n5ewmi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_4trj9hf4v3n5ewmi.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-edit2:before { content: "\e607"; }

.icon-search:before { content: "\e636"; }

.icon-youxiang:before { content: "\e64f"; }

.icon-erweima:before { content: "\e637"; }

.icon-set:before { content: "\e61e"; }

.icon-file3:before { content: "\e601"; }

.icon-bianji:before { content: "\e638"; }

.icon-fuzhi:before { content: "\e639"; }

.icon-file2:before { content: "\e60d"; }

.icon-share:before { content: "\e60e"; }

.icon-folder:before { content: "\e61b"; }

.icon-yulan:before { content: "\e63a"; }

.icon-close-single:before { content: "\e659"; }

.icon-info:before { content: "\e62e"; }

.icon-folder-open:before { content: "\e61c"; }

.icon-add-single:before { content: "\e63b"; }

.icon-upload2:before { content: "\e62c"; }

.icon-guanzhu:before { content: "\e63c"; }

.icon-huifu:before { content: "\e648"; }

.icon-xiugai:before { content: "\e634"; }

.icon-more:before { content: "\e63d"; }

.icon-copy:before { content: "\e62f"; }

.icon-approve:before { content: "\e63e"; }

.icon-biaodan:before { content: "\e63f"; }

.icon-download2:before { content: "\e62d"; }

.icon-comment:before { content: "\e613"; }

.icon-add3:before { content: "\e618"; }

.icon-delete2:before { content: "\e608"; }

.icon-box-open:before { content: "\e640"; }

.icon-delete-empty:before { content: "\e631"; }

.icon-qrcode:before { content: "\e609"; }

.icon-bell:before { content: "\e603"; }

.icon-heart:before { content: "\e610"; }

.icon-arrow-right:before { content: "\e626"; }

.icon-lightning:before { content: "\e616"; }

.icon-company:before { content: "\e655"; }

.icon-project:before { content: "\e656"; }

.icon-time:before { content: "\e611"; }

.icon-box:before { content: "\e60a"; }

.icon-menu:before { content: "\e614"; }

.icon-star:before { content: "\e60f"; }

.icon-dianbozhibov1213:before { content: "\e650"; }

.icon-edit:before { content: "\e619"; }

.icon-libaray:before { content: "\e657"; }

.icon-yishen:before { content: "\e64b"; }

.icon-delete:before { content: "\e61a"; }

.icon-file:before { content: "\e61d"; }

.icon-add2:before { content: "\e620"; }

.icon-shouji:before { content: "\e64e"; }

.icon-message:before { content: "\e621"; }

.icon-project-manage:before { content: "\e81d"; }

.icon-add-inner:before { content: "\e633"; }

.icon-search1:before { content: "\e604"; }

.icon-users:before { content: "\e600"; }

.icon-exclamation:before { content: "\e654"; }

.icon-checked:before { content: "\e628"; }

.icon-add:before { content: "\e61f"; }

.icon-delete1:before { content: "\e641"; }

.icon-arrow-down:before { content: "\e627"; }

.icon-lexicon:before { content: "\e658"; }

.icon-delete-circle:before { content: "\e649"; }

.icon-password:before { content: "\e623"; }

.icon-user:before { content: "\e624"; }

.icon-box2:before { content: "\e602"; }

.icon-star-empty-flat:before { content: "\e642"; }

.icon-dianzandian:before { content: "\e643"; }

.icon-seal:before { content: "\e605"; }

.icon-form:before { content: "\e60b"; }

.icon-fenzu-copy:before { content: "\e653"; }

.icon-check:before { content: "\e615"; }

.icon-double-right:before { content: "\e632"; }

.icon-arrow:before { content: "\e606"; }

.icon-download:before { content: "\e60c"; }

.icon-dongtai:before { content: "\e644"; }

.icon-user2:before { content: "\e612"; }

.icon-shenpi2:before { content: "\e64d"; }

.icon-star2:before { content: "\e617"; }

.icon-user-add:before { content: "\e622"; }

.icon-xiugainicheng:before { content: "\e651"; }

.icon-xiangmu:before { content: "\e629"; }

.icon-success:before { content: "\e64a"; }

.icon-delete3:before { content: "\e62a"; }

.icon-empty:before { content: "\e630"; }

.icon-upload:before { content: "\e62b"; }

.icon-zhongzhimima:before { content: "\e635"; }

.icon-warn-circle:before { content: "\e65a"; }

.icon-tubiao:before { content: "\e645"; }

.icon-heart1:before { content: "\e646"; }

.icon-right-angle:before { content: "\e65b"; }

.icon-dunpai:before { content: "\e64c"; }

.icon-tianjia:before { content: "\e647"; }

.icon-tianjiazibumen:before { content: "\e652"; }

.icon-shuju:before { content: "\e625"; }
