<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="shortcut icon" href="http://bazhuawangluo.oss-cn-hangzhou.aliyuncs.com/CMSMain/logo_dingbu_68.ico">
    <title>{{ htmlWebpackPlugin.options.title }}</title>
    {{#each htmlWebpackPlugin.files.css}}
      <link rel="stylesheet" href="{{ this }}">
    {{/each}}
  </head>

  <body>
    <div id="app" style="height:100%;width:100%;"></div>
    {{#each htmlWebpackPlugin.files.js}}
      <script src="{{ this }}"></script>
    {{/each}}
  </body>
</html>
